body {
    color: #00264d; 
    text-align: center;
    font-family: 'Manjari', sans-serif;
  
  }
  


  .nav-item{
    font-family: 'Courier New', Courier, monospace
  }
  
  h1, h2, h3, h4
  {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px
  
  }






  .form-group{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    width: 300px;
  }

  .form-label{
      padding: 5px
  }

  .form-item{
      padding: 5px;
 
  }

  .form-button{
      padding: 40px;
      width: 200px;

  }

  #container{
      align-items: center;
  }
  

  
  #noOfItems
  {
    margin-left: -20px
  }
  
  .card
  {
    width: 25rem; 
    height: 40rem;
    margin-bottom: 20px;
  }
  
  .carousel-inner
  {
    height: 500px
  }
  
  .form
  {
    margin: auto; 
    width: 60%; 
    padding: 50px
  }
  
  main {
    font-family: 'Courier New', Courier, monospace
  }
  
   
  
  #logo
  {
    height:50px;
  }
  
  
  footer {
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #f2f2f2;
    font-family: 'Manjari', sans-serif;
    margin-top: 40px;
    color: #00264d
  }

.copyright{
    font-family:'sans-serif'
}
  
