body {
    text-align: center;
  }
  
  .nav-item{
    font-family: 'Courier New', Courier, monospace
  }
  
  h1, h2, h3, h4
  {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 50px
  
  }

  .main{
      padding: 100px
  }

  #response-time{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px
  }

  #login{
      padding-top: 100px
  }

  .login-form{
      padding: 40px;
  }

  #contact{
    padding-top: 90px;
    margin-left: 100px
}

.contact-photo{
    padding: 100px;
}


  .form-group{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    width: 300px;
  }

  .form-label{
      padding-top: 20px;
  }

  .form-item{
      padding: 1px;
  }



  #goth-angel{
      padding: 15px
  }


  
  .card
  {
    width: 25rem; 
    height: 40rem;
    margin-bottom: 20px;
  }
  
  .carousel-inner
  {
    height: 500px
  }
  
  .form
  {
    margin: auto; 
    width: 60%; 
    padding: 50px
  }
  
  main {
    font-family: 'Courier New', Courier, monospace
  }
  
   
  
.footer{
    margin-top: 200px;
  }

.copyright{
    font-family:'sans-serif'
}






.footer-dark {
    padding:5px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }

  .footer-message{
    font-family: 'Courier New', Courier, monospace;
    padding-left: 200px
  }
  

  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
    font-family: 'Courier New', Courier, monospace
     
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;

  }
  

 
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

.footer-image{
    padding-top: 80px;
    padding-left: 255px
}







