{% extends 'base.html' %}


{% block content %}

<div class="container-about">

    <img src="/static/IMG_5779.JPG" height="30%" width="30%" alt="...">

    <div class="container-about-text">
        <h2 id="black-h2">About Me</h2>
        <p id="about-text">My name is Ellie and I live in Chicago. I recently earned a Master's Degree from The Chicago School of Professional Psychology, and I am now a Clinical Mental Health Counselor. I have always loved art. My desire to create art on a more consistent basis grew after taking drawing classes in Florence and Paris. I started Goth Angel as a passion project after returning from Paris. Making jewelry is my creative outlet, and am so thankful for every purchase made. Every piece is made with love!  </p>
    </div>
</div>



{% endblock content %} 