{% extends 'base.html' %}


{% block content %}
<div class='container d-flex justify-content-evenly align-items-center about'>
    <div class="card border-0 " style=" height: 18rem; width: 18rem;">
        <img src="{{url_for('static', filename='IMG_473E72749EBE-1.jpeg')}}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">My name is Ellie and I live in Chicago. I make jewelery for fun. </p>
        </div>
    </div>
</div>



{% endblock content %} 