{% extends 'base.html' %}


{% block content %}


<div class="container w-100">
    <div class="row">
      <div id=contact class="col-auto me-auto">
        <form method="post">
            <h1>{{ title }}</h1>
            
            {{ form.csrf_token }}
        
            <div class="form-group">
                <div class="form-label">
                {{ form.name.label }}</div>
                <div class="form-item">
                {{ form.name(class='form-control', placeholder='Name') }}</div>
                <div class="form-label">
                {{ form.email.label }}</div>
                <div class="form-item">
                {{ form.email(class='form-control', placeholder='Email') }}</div>
                <div class="form-label">
                {{ form.subject.label }}</div>
                <div class="form-item">
                {{ form.subject(class='form-control', placeholder='Subject') }}</div>
                <div class="form-label">
                {{ form.message.label }}</div>
                <div class="form-item">
                {{ form.message(class='form-control', placeholder='Message') }}</div>
                <div class="form-label">
                {{ form.submit(class='btn btn-outline-dark w-100') }}</div>
            </div>
        </form>
        <p id="response-time">Typical response time is 2-3 days!</p>
      </div>
      <div class="col align-self-center">
        
      </div>
      <div class="col-auto me-auto contact-photo">
        <img src="{{url_for('static', filename='Seaser093600-R1-040-18A.jpg')}}" height=600px, width=400px alt="">
      </div>
    </div>
  </div>

  



{% endblock content %}