{% extends 'base.html' %}

{% block content %}


    <main>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12">
                    <h1 class="text-center display-1 text-light"><strong>Hello</strong>
                    </h1>
                </div>
                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-12">
                        <h1 class="text-center display-1 text-light"><strong>Welcome To Goth Angel</strong>
                        </h1>
                    </div>
            </div>
        </div>
    </main>

    {% if current_user.is_authenticated %}

    <h1>Welcome back {{ current_user.username }}!</h1>

    {% else %}

    <div class="container-fluid" data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="1000">
    <div class="row jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p class="lead">Everything on this site is handmade with love. Tracked shipping on all orders + next day shipping</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
            <a href="#"><button type="button" class="btn btn-outline-secondary
            btn-lg">Shop</button></a>
        </div>
    </div>
    </div>
    


      
    {% endif %}


    


{% endblock content %}