{% extends 'base.html' %}


{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <h1 class="text-center display-1 text-light"><strong>Shop</strong>
            </h1>
        </div>

    {% for p in products %}

    <div class="container">
        <div class="row">
          <div class="col-md">
            <img src="{{url_for('static', filename='IMG_99E67573723B-1.jpeg')}}" class="d-block w-100" alt="...">
          </div>
          <div class="card">
              <div class="card-body">
                <h2 class="card-title">{{ p.name }}</h2>
              </div>
            <div>
                <h3 >{{ p.description }}</h3>
            </div>
            <div>
                <h3 >{{ p.price }}</h3>
            </div>
            <div class="btn btn-dark">Add to Cart</a>}}
        </div>
        {% endfor %}
            

{% endblock content %}  